@model ProjetoEcommerce.Dominio.Entidades.Seguranca.Formulario

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
}

@using (Html.BeginForm("IncluirConfirm", "Formulario", FormMethod.Post))
{
    <div  class="form-group">
        <label for="inputForm">Cadastro de Formulário</label>
        @Html.TextBoxFor(modelItem => Model.Descricao, new { @class = "form-control", @placeholder = "Digite a Descrição do Formulário" })
        @Html.TextBoxFor(modelItem => Model.URL, new { @class = "form-control", @placeholder = "Digite a URL do Formulário" })
    </div>
    <input type="submit" value="SALVAR" class="btn btn-success btn-block" />
}