.admin-titulo-principal{
    margin-bottom: 15px;
    font-size: 1.4em;
    font-weight: 700;
    border-bottom: solid 3px #007bff;
    border-right: solid 3px #007bff;
    padding-right: 8px;
    padding-bottom: 5px;
    text-transform: uppercase;
}


/*Estilo do pai amado*/
.Identidade {
    background-color: #000;
}

#Sucesso{
    margin: 100px 50px 100px 50px;
}

