@model ProjetoEcommerce.Dominio.Entidades.Seguranca.GrupoUsuario
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
}

@using (Html.BeginForm("IncluirConfirm", "GrupoUsuario", FormMethod.Post))
{
    <div class="form-group">
        @Html.DropDownListFor(ModelItem => Model.UsuarioID, new SelectList(ViewBag.Usuarios, "UsuarioID", "Nome"))
        @Html.DropDownListFor(ModelItem => Model.GrupoDeAcessoID, new SelectList(ViewBag.Grupos, "GrupoDeAcessoID", "Descricao"))
    </div>
    <br />
    <br />
    <input type="submit" value="SALVAR" class="btn btn-success btn-block" />
}
