@model ProjetoEcommerce.Dominio.Entidades.Seguranca.FormularioGrupo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
}
    @using (Html.BeginForm("IncluirConfirm", "FormularioGrupo", FormMethod.Post))
    {
        <div style="border: 2px dotted black; padding: 45px">
            @Html.DropDownListFor(ModelItem => Model.FormularioID, new SelectList(ViewBag.Formularios, "FormularioID", "Descricao"))
            @Html.DropDownListFor(ModelItem => Model.GrupoID, new SelectList(ViewBag.Grupos, "GrupoDeAcessoID", "Descricao"))
        </div>
        <input type="submit" value="SALVAR" class="btn btn-success btn-block" />
    }