
@{
    ViewBag.Title = "Sair";
    ViewBag.ShowMenu = false;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container pt-5">
    <div class="row justify-content-md-center">
        <img src="~/Content/img/voltesempre.jpg" />        
    </div>
    <div class="row justify-content-md-center mt-4">
        <a class="btn btn-outline-primary" href="@Url.Action("Entrar", "Autenticacao")">Entrar</a>
    </div>
</div>

