@using ProjetoEcommerce.Dominio.Entidades.Pagamento
@model Usuario
@*Layout do renato*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
    int i = 1;

}
@*tela de verificar dados antes de realizar compra*@
<div class="container float-left">

</div>