@using ProjetoEcommerce.Models.ViewModels
@model BoletoGeradoViewModel
@{
    ViewBag.Title = "Boleto Gerado!";
}

<h1 class="font-weight-light text-center float-left" style="position:relative;top:10%;left:35%">Boleto gerado!</h1>
<a class="btn btn-success text-light float-right" href="@Url.Action("Sucesso","Pagar")"><i class="fa fa-arrow-right"></i></a>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe id="Boleto" class="embed-responsive-item" srcdoc="@Model.HTML">
        </iframe>
    </div>
<a class="btn btn-primary btn-block text-light" onclick="ImprimirBoleto()"><i class="fa fa-print"></i> Imprimir</a>
<br /><br /><br />
<script>
    function ImprimirBoleto(){
        document.getElementById("Boleto").contentWindow.print()
    }
</script>