
@{
    ViewBag.Title = "Sucesso";
}
<div style="margin: 20% 25% 30% 25%" class="text-center">
    <h2 class=" font-weight-light" >Sucesso! Compra Efetuada! <i class="fa fa-check-circle"11></i></h2>
    <a href="@Url.Action("Index","DemoPagamento")" class="btn btn-primary" style="margin-top:10em"><i class="fa fa-arrow-left"></i> Voltar ao início</a>

    
    
    
</div>
