@model ProjetoEcommerce.Dominio.Entidades.Relatorio.Usuario

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
}

@using (Html.BeginForm("IncluirConfirm", "Usuario", FormMethod.Post))
{
    <div class="form-group">
        <label for="inputAddress">Usuario</label>
        @Html.TextBoxFor(modelItem => Model.NomeUsuario, new { @class = "form-control", @placeholder = "Digite aqui o nome do Usuario parça" })
    </div>

    <input type="submit" value="SALVAR ESSE USUARIO AI " class="btn btn-success btn-block" />
}
