@model ProjetoEcommerce.Dominio.Entidades.Relatorio.Usuario

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
}

<body>
    @using (Html.BeginForm("IncluirConfirm", "Usuario", FormMethod.Post))
    {
        <div style="color: blue; border: 2px dotted black; padding: 45px">

            <div class="form-group">
                <label for="inputAddress">Nome</label>
                @Html.TextBoxFor(modelItem => Model.NomeUsuario)
            </div>

        </div>
        <br />
        <br />
        <input type="submit" value="SALVAR" class="btn btn-success btn-block" />
    }
