@{
    ViewBag.Title = "Início";
    ViewBag.ShowMenu = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    
    
    
    var end0 = "https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcSYPD107KyI9qqQMCO_3WNHg7CchMiLRbuk1UEMDHqAHNRnqPRskYWyh5792izjmTCUIf9t46WmYWq332bP_0nl5SVbKVLZo5SOKa9a0cC8&usqp=CAc";

}
<div class="card-deck mb-3 text-center">

    <div class="row justify-content-md-center ">
        <!-- linha de cards -->
        <div class="col-sm-6 col-md-5 col-lg-3 mb-5">
            <div class="card">
                <!-- card 1 -->
                <img class="card-img-top" src="@end0">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary">Comprar</button>
                        <button type="button" class="btn btn-outline-primary" class="card-link"
                                data-toggle="modal" data-target="#carrinhoModal">
                            +Carrinho
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-3 mb-5">
            <div class="card">
                <!-- card 2 -->
                <img class="card-img-top" src="@end0">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary">Comprar</button>
                        <button type="button" class="btn btn-outline-primary" class="card-link"
                                data-toggle="modal" data-target="#carrinhoModal">
                            +Carrinho
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-3 mb-5">
            <div class="card">
                <!-- card 3 -->
                <img class="card-img-top" src="@end0">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary">Comprar</button>
                        <button type="button" class="btn btn-outline-primary" class="card-link"
                                data-toggle="modal" data-target="#carrinhoModal">
                            +Carrinho
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-3 mb-5">
            <div class="card">
                <!-- card 4 -->
                <img class="card-img-top" src="@end0">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary">Comprar</button>
                        <button type="button" class="btn btn-outline-primary" class="card-link"
                                data-toggle="modal" data-target="#carrinhoModal">
                            +Carrinho
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>