@model System.Collections.Generic.IEnumerable<ProjetoEcommerce.Dominio.Entidades.Produto>
@{
    ViewBag.Title = "Início";
    ViewBag.ShowMenu = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="card-deck mb-3 text-center">
        @foreach (var item in Model)
        {
            <div class="row justify-content-md-center ">
                <div class="card" style="width: 17rem">
                    <img src=@Href(@item.Imagem.URL) class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Nome</h5>
                        <p class="card-text"><h7>Preço:</h7><h5 class="text-danger">R$ @item.Preco</h5></p>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-primary" class="card-link"
                                    data-toggle="modal" data-target="#comprarModal">
                                Comprar
                            </button>
                            <button type="button" class="btn btn-outline-primary" class="card-link"
                                    data-toggle="modal" data-target="#carrinhoModal">
                                +Carrinho
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }

        <!--Modal-->
        <div class="modal" id="carrinhoModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Produto Adicionado ao Carrinho</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Finalizar Compra</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Continuar Comprando</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="comprarModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Vai com calma Jovem!!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>