
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Marketplace</h1>
    <p class="lead">João Belluomini, Vitor, Fábio</p>
    <p><a href="https://www.uniaraxa.edu.br" class="btn btn-primary btn-lg">Uniaraxa</a></p>
</div>



