@model ProjetoEcommerce.Dominio.Entidades.Entrega.Estado

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
}

<br />

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="mx-auto" style="width: 200px;">
        CADASTRO DE ESTADO
    </div>
</nav>


@using (Html.BeginForm())
{

    <form>
        <br />
        <div class="form-group">
            <label for="exempleInputText">Sigla</label>
            <input type="text" class="form-control" id="exempleInputText" placeholder="Sigla">
        </div>
        <div class="form-group">
            <label for="exempleInputText">Nome</label>
            <input type="text" class="form-control" id="exempleInputText" placeholder="Nome">
        </div>
        <div class="form-group">
            <label for="exempleInputText">Status</label>
            <input type="text" class="form-control" id="exempleInputText" placeholder="Status">
        </div>
        <div class="form-group">
            <label for="exempleInputText">Usuario</label>
            <input type="text" class="form-control" id="exempleInputText" placeholder="Usuario">
        </div>

        <button type="submit" class="btn btn-primary">Confirmar</button>


    </form>
}


<div>
    @Html.ActionLink("Voltar ao menu", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
