
@{
    ViewBag.Title = "Index";
}
    <div class="jumbotron">
        <h2>Index</h2>
        
        <a class="btn btn-primary" href="@Url.Action("Index","Carteira")" role="button">Carteira</a>
    </div>


