
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        <h1>
            <a href="@Url.Action("ListarTodos")">
                LISTAR TODOS
            </a>
        </h1>

        <h3 style="background-color: RED">
            <a href="@Url.Action("Incluir")">
                INCLUIR
            </a>
        </h3>

    </div>
</body>
</html>