@model ProjetoEcommerce.Dominio.Entidades.Relatorio.TipoCampo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
}


@using (Html.BeginForm("IncluirConfirm", "TipoCampo", FormMethod.Post))
{
    <div style="border: 2px dotted black; padding: 45px">
        <div class="form-group">
            <label for="inputAddress">Descrição</label>
            @Html.TextBoxFor(modelItem => Model.Descricao)
        </div>

        <div class="form-group">
            <label for="inputAddress">Tipo Campo ID</label>
            @Html.DropDownListFor(model => model.TipoCampoID, new SelectList(ViewBag.TipoCamposID, "TipoCampoID", "Descricao"))
        </div>

    </div>
    <br />
    <br />
    <input type="submit" value="SALVAR" class="btn btn-success btn-block" />
}
