@model ProjetoEcommerce.Dominio.Entidades.Relatorio.Campo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Incluir</title>
</head>
<body>
    @using (Html.BeginForm("IncluirConfirm", "Campo", FormMethod.Post))
    {
        <div style="color: blue; border: 2px dotted black; padding: 45px">

            <div>
                Nome
                @Html.TextBoxFor(modelItem => Model.Nome)
            </div>
            <div>
                Tipo de Campo:
                @Html.DropDownListFor(model => model.TipoCampoID, new SelectList(ViewBag.TipoCampos, "TipoCampoID", "Descricao"))
            </div>
        </div>
        <br />
        <br />
        <input type="submit" value="SALVAR" class="btn btn-success btn-block" />
    }
</body>
</html>
