@model ProjetoEcommerce.Dominio.Entidades.Relatorio.Campo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
}

@using (Html.BeginForm("IncluirConfirm", "Campo", FormMethod.Post))
{
    <div style="color: blue; border: 2px dotted black; padding: 45px">

        <div class="form-group">
            <label for="inputAddress">Nome</label>
            @Html.TextBoxFor(modelItem => Model.Nome, new { @class = "form-control", @placeholder = "Insira seu nome" })
        </div>
        <div class="form-group">
            <label for="inputAddress">Tipo Campo</label>
            @Html.DropDownListFor(model => model.TipoCampoID, new SelectList(ViewBag.TipoCampos, "TipoCampoID", "Descricao"), new { @class = "form-control" })
        </div>
    </div>
    <br />
    <br />
    <input type="submit" value="SALVAR" class="btn btn-success btn-block" />
}