@model ProjetoEcommerce.Dominio.Entidades.Pagamento.MetodoPagamento

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
}

@using (Html.BeginForm("Criar", "MetodoPagamento", FormMethod.Post))
{
    
    <div class="form-group">
        <label for="inputAddress">Descrição</label>
        @Html.TextBoxFor(modelItem => Model.Descricao, new { @class = "form-control", @placeholder = "Digite a descrição do método de pagamento" })

    </div>
    <input type="submit" value="SALVAR" class="btn btn-success btn-block" />
}
