@model ProjetoEcommerce.Dominio.Entidades.Seguranca.GrupoDeAcesso

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
}

@using (Html.BeginForm("IncluirConfirm", "GrupoDeAcesso", FormMethod.Post))
{
    <div class="form-group">
        <label for="inputAddress">Nome do Grupo:</label>
        @Html.TextBoxFor(modelItem => Model.Descricao)
    </div>
    <br />
    <br />
    <input type="submit" value="SALVAR" class="btn btn-success btn-block" />
}

