@model ProjetoEcommerce.Dominio.Entidades.Entrega.Ceps

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
}

<br />

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="mx-auto" style="width: 200px;">
        CADASTRO DE CEP
    </div>
</nav>


@using (Html.BeginForm())
{

    <form>
        <br />
        <div class="form-group">
            <label for="exempleInputText">Cep</label>
            <input type="text" class="form-control" id="exempleInputText" placeholder="Cep">
        </div>
        <div class="form-group">
            <label for="exempleInputText">Estado</label>
            <input type="text" class="form-control" id="exempleInputText" placeholder="Estado">
        </div>
        <div class="form-group">
            <label for="exempleInputText">Cidade</label>
            <input type="text" class="form-control" id="exempleInputText" placeholder="Cidade">
        </div>
        <div class="form-group">
            <label for="exempleInputText">Bairro</label>
            <input type="text" class="form-control" id="exempleInputText" placeholder="Bairro">
        </div>
        <div class="form-group">
            <label for="exempleInputText">Rua</label>
            <input type="text" class="form-control" id="exempleInputText" placeholder="Rua">
        </div>
        <div class="form-group">
            <label for="exempleInputText">Status</label>
            <input type="text" class="form-control" id="exempleInputText" placeholder="Status">
        </div>
        <div class="form-group">
            <label for="exempleInputText">Usuario</label>
            <input type="text" class="form-control" id="exempleInputText" placeholder="Usuario">
        </div>

        <button type="submit" class="btn btn-primary">Confirmar</button>


    </form>
}


<div>
    @Html.ActionLink("Voltar ao menu", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
