@model List <ProjetoEcommerce.Dominio.Entidades.Carrinho.Produto>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="border:1px solid; background:#e5e5e5;padding:10%;">
        @foreach (var item in Model)
        {
            <p>@item.Nome</p>
            <p>@item.Qtd</p>
            @Html.TextArea(Convert.ToString(item.Preco))
        }


    </div>
</body>
</html>
