@model List <ProjetoEcommerce.Dominio.Entidades.Carrinho.Produto>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>


    <nav>
        <div>
            <ul class="wrapper">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

    </nav>

    <div class="carrinho">

        <table style="width: 100%">

            <tr>

                <th>Produto</th>
                <th>Quantidade</th>
                <th>Preço</th>

            </tr>

            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.Nome</td>

                    <td>@item.Qtd</td>
                    <td>@item.Preco</td>
                </tr>


            }
        </table>
    </div>

    <style>

        * {
            margin: 0;
            padding: 0;
            list-style: none;
            text-decoration: none;
        }

        body {
            background-color: #eee;
        }

        .wrapper {
            margin: 0 auto 0 60px;
            width: 1000px;
        }

        .carrinho {
            margin: 0 auto 0 200px;
            width: 1000px;
        }

        nav {
            width: 100%;
            height: 100px;
            background-color: blueviolet;
        }

        ul {
            margin-left: 60px;
        }

            ul li {
                list-style: none;
                display: inline-block;
                float: left;
                line-height: 100px;
            }

                ul li a {
                    display: block;
                    text-decoration: none;
                    font-size: 14px;
                    font-family: Arial;
                    color: aliceblue;
                    padding: 0 20px;
                }

                    ul li a:hover {
                        color: red;
                    }
        
        tr {
            text-align: left;
            padding: 15px;
        }

        th, td {
            padding: 15px;
        }
    </style>
</body>
</html>
