@model  int 

@{
    ViewBag.Title = "teste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <div class="pos-f-t">
                <div class="collapse" id="navbarToggleExternalContent">
                  <div class="backGround"  style="background: #050000;">
                    <h5 class="text-white h4">Collapsed content</h5>
                    <span class="text-muted">Toggleable via the navbar brand.</span>
                  </div>
                </div>    
    
    
    <nav class="navbar navbar-dark " style="background: #1f1f1f;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" ;>
                <span class="navbar-toggler-icon"></span>
            </button>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn bg-white  my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>

</head>
<body>
    <style>

        .produto-td, .produto-th {
            padding: 0 1em;
        }

        .form-control {
            display: initial;
        }
    </style>
    <div style="display: flex; margin: 4em 0">
        <div style=" width: 55%;padding: 50px;">
            <div style="background:#fff;" id="produtos-carrinho" data-url="@Url.Action("ProdutoCarrinho","Produto")">

            </div>
        </div>

        <div style=" width: 55%;padding: 50px;">
            <div style="background:#fff;" id="resumo-carrinho" data-url="@Url.Action("ResumoCarrinho","Carrinho")">

            </div>
        </div>
    </div>

    @*JS Scripts*@

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    <script>


        var urlProdutos = $("#produtos-carrinho").data("url");
        $.ajax({
            type: "GET",
            url: urlProdutos,
            success: function (result) {
                $("#produtos-carrinho").html(result);
            },
            error: function () {
                alert('errro hahaanjkhbkjhnjiuk');
            }
        });

        var usuarioId = 1;
        var urlResumo = $("#resumo-carrinho").data("url") + `?usuarioid=${usuarioId}`;
        $.ajax({
            type: "GET",
            url: urlResumo,
            success: function (result) {
                $("#resumo-carrinho").html(result);
                ALERT('oh heyt');
            },
            error: function () {
                alert('errro hahaa');
            }
        });


    </script>


</body>
</html>
