@model List<ProjetoEcommerce.Dominio.Entidades.Carrinho.Produto>

@{
    ViewBag.Title = "Index";
    ViewBag.ShowMenu = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>

    </head>

    <body>
        <style>
            .produto-td, .produto-th {
                padding: 0 1em;
            }

            .form-control {
                display: initial;
            }
        </style>
        
        <h2>Produtos Disponiveis</h2>
       
        <div style="display: flex; margin: 4em 0">
            <div style="border: outset; background:#f5f5f5; width: 60%;">
                @using (Html.BeginForm("Adicionar", "Produto", FormMethod.Post))
                {
                    <table>
                        <thead class="produto-thead">
                            <tr>
                                <th class="produto-th">Nome</th>
                                <th class="produto-th">Preco</th>
                                <th class="produto-th">Quantidade</th>
                            </tr>
                        </thead>
                        <tbody>

                            @for (int i = 0; i < Model.Count; i++)
                            {
                                @Html.HiddenFor(item => item[i].ProdutoID)
                                <tr>
                                    <td class="form-group produto-td">
                                        <div class="form-group">
                                            <div class="">
                                                @Html.TextBoxFor(item => item[i].Nome, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            </div>
                                        </div>
                                    </td>
                                    <td class="form-group produto-td">
                                        <div class="form-group">
                                            <div class="">
                                                @Html.TextBoxFor(item => item[i].Preco, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            </div>
                                        </div>
                                    </td>
                                    <td class="form-group produto-td">
                                        <div class="form-group">
                                            <div class="">
                                                @Html.TextBoxFor(item => item[i].Qtde, new { htmlAttributes = new { @class = "form-control"} })
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>

                    <button type="submit">
                        <i class="fas fa-plus"></i>
                    </button>

                }

            </div>
        </div>
    </body>

