
<form>
    <h2>Adicionar</h2>
    <h3>Bairro</h3>

    <div class="item">
        <label for="staticID" class="sr-only">CidadeID</label>
        <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
    </div>

    <button type="button" class="btn btn-success" id="Sucesso">Success</button>
</form>