
    <h2>Adicionar</h2>

<form>
    <h3>Bairro</h3>

    <div class="form-group">
        <label for="exampleInputEmail1">CodigoID</label>
        <input type="number" class="form-control" placeholder="Bairro ID">       
    </div>
    <div class="form-group">
        <label>Nome</label>
        <input type="text" class="form-control" placeholder="Nome">
    </div>
    <div class="form-group">
        <label>Status</label>
        
    </div>

    <button type="button" class="btn btn-success" id="button">Success</button>
</form>