@model ProjetoEcommerce.ViewModels.BairroViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
}

<br />

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="mx-auto" style="width: 200px;">
        CADASTRO DE BAIRRO
    </div>
</nav>


@using (Html.BeginForm())
{

 @Html.HiddenFor(f => f.Status)

    <form>
        <br />
        <div class="form-group">
            <label for="exempleInputText">Cidade</label>
            <input type="text" class="form-control" id="exempleInputText" placeholder="Cidade">
        </div>
        <div class="form-group">
            <label for="exempleInputText">Nome</label>
            <input type="text" class="form-control" id="exempleInputText" placeholder="Nome">
        </div>
        <div class="form-group">
            <label for="exempleInputText">Endereco</label>
            <input type="text" class="form-control" id="exempleInputText" placeholder="Endereço">
        </div>
        <div class="form-group" style="display:none">
            <label for="exempleInputText">Status</label>
            <input type="text" class="form-control" id="exempleInputText" placeholder="Status">
        </div>

        <button type="submit" class="btn btn-primary">Confirmar</button>


    </form>
}


<div>
    @Html.ActionLink("Voltar ao menu", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
