@model ProjetoEcommerce.Dominio.Entidades.Relatorio.CampoRelatorio

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
}

@using (Html.BeginForm("IncluirConfirm", "CampoRelatorio", FormMethod.Post))
{
    <div style="border: 2px dotted black; padding: 45px">

        <div>
            Relatório ID:
            @Html.DropDownListFor(model => model.RelatorioID, new SelectList(ViewBag.Relatorios, "RelatorioID", "Nome"))
        </div>

        <div>
            Campo ID:
            @Html.DropDownListFor(model => model.CampoID, new SelectList(ViewBag.Campos, "CampoID", "Nome"))
        </div>

    </div>
        <br />
        <br />
        <input type="submit" value="SALVAR" class="btn btn-success btn-block" />
    }
</body>
</html>
