@model ProjetoEcommerce.Dominio.Entidades.Pagamento.Carteira

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
}

@using (Html.BeginForm("Criar", "Carteira", FormMethod.Post))
{
    <div class="form-group">
        <label for="inputAddress">ID de usuário</label>
        @Html.TextBoxFor(modelItem => Model.UsuarioID, new { @class = "form-control", @placeholder = "Digite o ID de Usuário da carteira" })

    </div>
    <div class="form-group">
        <label for="inputAddress">Saldo</label>
        @Html.TextBoxFor(modelItem => Model.Saldo, new { @class = "form-control", @placeholder = "Digite o Saldo da carteira" })

    </div>
    <input type="submit" value="SALVAR" class="btn btn-success btn-block" />
}
